{
  "presets": [
    "react",
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 2 versions"
          ],
          "node": "6.9"
        }
      }
    ],
    [
      "es2015",
      {
        "modules": "commonjs"
      }
    ]
  ],
  "plugins": [
    "transform-class-properties",
    "syntax-dynamic-import",
    "react-hot-loader/babel",
    [
      "module-resolver",
      {
        "root": [
          "./src"
        ]
      }
    ]
  ]
}
