img.image-responsive.logo-header{
  width: 265px;
  padding-top: 16px;
  padding-right: 35px;
  padding-bottom: 15px;
  @media screen and (max-width: 768px) {
    width: 200px;
    margin-top: 20px;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 10px;
  }
  @media (min-width: 769px) and (max-width: 1023px) {
    width: 200px;
    margin-top: 20px;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 10px;
  }
}
nav#mainNav2 {
  background: #00252C;
  border: none;
  .navbar-toggle:focus,
  .navbar-toggle:hover {
    background-color: #000;
  }
  .navbar-toggle {
    border-color: #FBB03B;
  }
  .navbar-toggle .icon-bar {
    background-color: #ffffff;
  }
  .navbar-collapse {
    border-color: transparent;
  }
  ul.nav.navbar-nav {
    padding: 10px 10px 0px 10px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    @media (min-width: 768px) and (max-width: 991px) {
      font-size: 14px;
    }
    li a{
      color: white;
      cursor: pointer;
    }
    li a:hover{
      color: #FBB03B;
    }
    li.active a{
      color: #FBB03B;
    }
    li.menu-left {
      border-bottom: 3px solid #094E5A;
    }
    li.menu-left:hover {
      border-bottom: 3px solid #FBB03B;
    }
    li.active{
      border-bottom: 3px solid #FBB03B!important;
    }
  }
}

#mainNav2 .navbar-custom {
  background-color: #222222;
  border-color: transparent;

}
#mainNav2 .navbar-custom {
  background-color: #222222;
  border-color: transparent;
}
.navbar-custom .navbar-brand {
  color: #fed136;
}
.navbar-custom .navbar-brand:hover, .navbar-custom .navbar-brand:focus, .navbar-custom .navbar-brand:active, .navbar-custom .navbar-brand.active {
  color: #fec503;
}
.navbar-custom .navbar-collapse {
  border-color: rgba(255, 255, 255, 0.98);
}
.navbar-custom .navbar-toggle {
  background-color: #fed136;
  border-color: #fed136;
  color: white;
  font-size: 12px;
  margin-top: 27px;
}
.navbar-custom .navbar-toggle:hover, .navbar-custom .navbar-toggle:focus {
  background-color: #fed136;
}
.navbar-custom .nav li a {
  font-weight: 400;
  letter-spacing: 1px;
  color: white;
  border: 1px solid #ddd;
  margin-right: 16px;
  border-radius: 51px;
  padding: 6px 12px;
  margin-top: 8px;
}
.navbar-custom .nav li a:hover, .navbar-custom .nav li a:focus {
  color: #fed136;
  outline: none;
}
.navbar-custom .navbar-nav > .active > a {
  border-radius: 0;
  color: white;
  background-color: #fed136;
}
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: white;
  background-color: #fec503;
}


@media (min-width: 768px) {
  .home .navbar-custom {
    background-color: transparent;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none;
  }
  .navbar-custom{
    padding: 10px 0;
    margin: '0px;'
  }
  .navbar-custom .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-custom .navbar-nav > .active > a {
    border-radius: 3px;
  }
}
@media (min-width: 768px) {
  .navbar-custom.affix {
    background-color: #121819;
    padding: 10px 0;
  }
  .navbar-custom.affix .navbar-brand {
    font-size: 1.5em;
  }
}